<main class="main-content">
				<div class="page">
					<div class="container">
						<div class="row">
							<div class="col-md-5">
								<form action="#" class="contact-form">
									<input type="text" id="name" placeholder="Name...">
									<input type="text" id="email" placeholder="Email...">
									<input type="text" id="phone" placeholder="Phone...">
									<textarea name="" id="message" placeholder="Message..."></textarea>
									<div class="text-right">
										<button class="button large" type="submit">Send Message</button>
									</div>
								</form>
							</div>
							<div class="col-md-6 col-md-offset-1">
								<div class="map-container">
									<div class="map"></div>
									<div class="address-info">
										<address>
											<img src="css/images/icon-map-small.png" class="icon">
											<p><strong>Krishal Beauty Salon</strong> Address Coming soon</p>
										</address>
										<div class="contact-info">
											<a href="mailto:patelkristi22@gmail.com" class="mail"><img src="css/images/icon-envelope-small.png" class="icon">patelkristi22@gmail.com</a>
											<a href="tel:(630)8882511" class="phone"><img src="css/images/icon-phone-small.png" class="icon">(630)8882511</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
