<div class="col-mid-12 col-sm-12">
<div class="col-mid-3 col-sm-3"></div>
<div class="col-mid-6 col-sm-6 pt-5 pb-5">
	<div class="wrapper">
    <form class="form-signin" ng-submit="submit(user)">  
		<div class="form-group">
			<input type="text" class="form-control" name="username" ng-model="user.username" placeholder="Email Address" required="" autofocus="" />
		</div>
		<div class="form-group">
			<input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Password" required=""/>      
		</div>
		<div class="form-group">
			<label class="checkbox">
				<input type="checkbox" class="w-2 pr-3 pull-left" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
			</label>
		</div>
	    <div class="form-group">
			<button class="btn btn-lg btn-primary btn-block pb-4" type="submit">Login</button>
		</div>
    </form>
  </div>
</div>
<div class="col-mid-3 col-sm-3"></div>

</div>